<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/bff4eaaad0.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../static/CSS/about.css">
        <title>About</title>
    </head>
    <body>
        <header class="header">
            <h1 class="about_heading">ABOUT ME</h1>
        </header>
        <section class="about_body">
            <div class="about_text">Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Voluptas nemo quo deserunt similique sed nostrum et, dolore velit, id
                officiis dolorem atque porro eum reprehenderit nobis beatae, odit nesciunt
                incidunt quidem. Tempore autem praesentium ab, consequatur accusamus
                perspiciatis quisquam, placeat beatae quibusdam dicta vel quos dolorem, vitae
                adipisci doloribus ducimus?</div>
            <div class="about_text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vel, maxime! Voluptate, minima, aut aperiam, error fugiat magnam laboriosam sed
                mollitia nihil reiciendis aspernatur animi tenetur labore odit. Quis saepe, quo,
                aspernatur, cumque incidunt sunt neque in sapiente quia omnis dicta? Rerum,
                repellendus eius! Sequi eos eligendi, tempora pariatur cupiditate porro magnam
                itaque ipsa distinctio veniam, perspiciatis beatae natus labore eum vero eveniet
                doloremque neque atque earum amet? Tempore, libero hic deleniti doloremque
                reprehenderit adipisci, unde neque magni eius sed quas soluta, earum dolores
                voluptatum omnis assumenda vero? Temporibus, sed id sequi praesentium, ex,
                explicabo perferendis nobis reiciendis doloribus aliquid quod.</div>
            <div class="about_text">Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Maiores fuga, reprehenderit mollitia vero culpa provident laboriosam est
                placeat sit. Repellendus!</div>
        </section>
        <footer class="footer" id="footer">
            <a href="index.html" class="about_back">BACK TO HOME</a>

            <div class="footer_icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-youtube"></i>
            </div>
            <h6 class="copyright">&copy; COPYRIGHT 2020 by Rahul Anand Sahu. All rights reserved.
            </h6>
        </footer>

    </body>
</html>