<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/CSS/post.css">
        <title>BLOG POST</title>
    </head>
    <body>
        <header
            class="header"
            style="background-image: url('{{post.img_url}}');
            background-repeat: no-repeat;">
            <div class="blog_heading">
                <h1 class="blog_title">{{post.title}}</h1>
                <h3 class="blog_subtitle">{{post.subtitle}}</h3>
            </div>
        </header>
        <section class="blog_body">
            <p class="blog">{{post.body|safe}}</p>
            {% if current_user.id == 1 : %}
                <a href="{{url_for('edit_post',post_id=post.id)}}" class="edit_post_link">EDIT POST</a>
            {% endif %}

        </section>

    </body>
</html>